<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style></style>
    </head>
    <body>
        <p>Hello {{faculty_name}},</p>
        <br />
        <p>
            Your TAs for {{ position_code }} ({{ session_name }}) have been assigned on TAPP. This
            may not be a final list of your TAs. As a next step, please keep the following in mind:
        </p>
        <ol>
            <li>
                Reach out to your TAs either by email or poll to confirm availability and
                onboarding as appropriate.
            </li>
            <li>
                If a candidate rejects the offer, or the offer is withdrawn, their name will no
                longer show up on your list in the coming days.
            </li>
            <li>
                TAs do not have to formally accept the offer until receiving a formal Description
                of Duties and Hours (DDAH); you do not have to prepare one now per se, as our
                department's formal deadline is two weeks into the term. The TA Coordinator's
                office may request you prepare one early to get a firm response from a TA.
            </li>
            <li>
                If you noted an offer is still pending for an extended period, you can reach out
                to the TA to reconfirm their interest in the course. The TA Coordinator's office
                does an initial probe as well, but in most cases it is due to not receiving a
                formal DDAH. Other reasons include contemplating a leave, waiting for other
                opportunities (i.e. internship), etc.
            </li>
            <li>
                There are a myriad of reasons that a TA may initially accept but may later need to
                decline. One key reason is for new international students: the study permit needs
                to be approved by IRCC before they can become a registered student or legally work
                in Canada (our office gives up to the first two weeks of the term to submit payroll
                information).
            </li>
            <li>
                When appropriate, enter the Description of Duties and Hours (DDAH) information for
                these TAs at <a href="https://{{ url }}">https://{{ url }}</a>. A formal memo on
                DDAH will be circulated to instructors. You can also contact
                <a href="mailto:{{ ta_coordinator_email }}">{{ ta_coordinator_email }}</a> for
                more information if you are a new Instructor.
            </li>
        </ol>
        <p>Thanks!</p>
        <br />
        <p>
            <i>[This is an automated email, however, you can still reply to email as it's set to
            reply to the TA coordinator's office.]</i>
        </p>
    </body>
</html>
