<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style></style>
    </head>
    <body>
        <p><i>[This is an automated email, please do not reply.]</i></p>

        <p>Hello,</p>

        <p>
            Your TAs for {{ position_code }} ({{ session_name }}) have been assigned on TAPP.
            As a next step, please enter the Description of Duties and Hours (DDAH)
            information for these TAs at <a href="https://{{ url }}">https://{{ url }}</a>. For
            instructions and guidelines for completing DDAH information, please see the
            recent email that was circulated or contact
            <a href="mailto:{{ ta_coordinator_email }}">{{ ta_coordinator_email }}</a>.
        </p>

        <p>Thanks!</p>
    </body>
</html>
