html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wide-modal {
    width: 90%;
    max-width: none;
}

.diff-changed-cell {
    margin: -3px;
    padding: 5px;
    border-radius: 7px;
    font-size: smaller;
}

.view-container {
    box-shadow: inset 0 70px 1px -70px #00356f38;
    flex-grow: 1;
    overflow: auto;
}

.page-body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    background-color: white;
    padding: 1em;
    box-shadow: inset 70px 70px 1px -70px #00356f38;
}

#app-body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wagechunk-details-table th,
.wagechunk-details-table td {
    padding-left: 1em;
}
.wagechunk-details-table th:first-child,
.wagechunk-details-table td:first-child {
    padding-left: 0em;
}
.wagechunk-details-table th {
    font-size: smaller;
    color: var(--gray);
}

.assignment-details-table th {
    padding-right: 1em;
}

.appointment-details-table th {
    padding-right: 1em;
}

.filterable-table-filter {
    padding: 0.4em;
    padding-left: 1.1em;
    border: 1px solid #e5e5e5;
    border-bottom: none;
}

.offer-history-details-table th,
.offer-history-details-table td {
    padding-left: 1em;
}
.offer-history-details-table th:first-child,
.offer-history-details-table td:first-child {
    padding-left: 0em;
}
.offer-history-details-table th {
    font-size: smaller;
    color: var(--gray);
}
/*.offer-history-details-table tbody tr:first-child .status {
    background-color: green;
}*/

.confirmation-history-details-table th,
.confirmation-history-details-table td {
    padding-left: 1em;
}
.confirmation-history-details-table th:first-child,
.confirmation-history-details-table td:first-child {
    padding-left: 0em;
}
.confirmation-history-details-table th {
    font-size: smaller;
    color: var(--gray);
}
